ion-icon {
    font-size: 1.5rem;
}

.active {
    border-top-width: 2px;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1) / var(--tw-bg-opacity));
}

.non-active {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1) / var(--tw-bg-opacity));
}

.special {
    // border-radius: 50%;
    margin-bottom: 5vh;
    overflow: visible;
    color: hsl(var(--b1));
    ion-icon {
        border-radius: 50%;
        background-color: hsl(var(--p));
        padding: 0.9rem;
        border: 1px solid hsl(var(--b1));
    }
}