<div class="card bg-base-100 shadow-xl image-full">
    <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
    <div class="card-body">
        <h2 class="card-title">{{item.name}}!</h2>
        <p>{{item.when}}</p>
        <div class="card-actions justify-end">
            <button (click)="goTo(item.id)" class="btn btn-primary mt-2">
               <p>
                {{checkin ? 'Ver a Galera!' : 'Eu Quero Ein!'}}
               </p>
            </button>
        </div>
    </div>
</div>