ion-item {
    --background: var(--ion-color-primary);
    color: white;
    padding: 1vh 2vh;
    font-weight: 700;
    text-transform: lowercase;
}

ion-item-option {
    margin: 2vh 0 2vh 0.1vh;
    font-weight: 700;
}

ion-item-option:last-child {
    margin-right: 2vh;
}