<app-header></app-header>

<ion-content>
    <ion-content>
        <div class="parent" *ngIf="userClass.get()">
            <div class="flex items-center justify-center flex-col h-full">
                <div class="avatar my-4">
                    <div class="w-36 rounded-full">
                        <img src="https://placeimg.com/192/192/people" />
                    </div>
                </div>
                <h2>Maurício, 26</h2>
                <div class="flex justify-evenly w-full">
                    <ng-container *ngFor="let item of [0,1,2]">
                        <div class="flex flex-col items-center">
                            <button class="btn btn-circle btn-primary shadow-xl my-4">
                                <ion-icon slot="icon-only" name="add"></ion-icon>
                            </button>
                            <p class="text-center tracking-wide my-4">Lorem Ipsum</p>
                        </div>
                    </ng-container>
                </div>
                <button class="btn btn-outline btn-primary w-72 my-4">Button</button>
                <button class="btn btn-primary w-72 mb-4">Button</button>
                <button (click)="logout()" class="btn btn-error w-72 mb-4">Logout</button>
            </div>
            <!-- <div class="flex items-center justify-center flex-col">
                <div class="avatar my-4">
                    <div class="w-36 rounded-full">
                        <img src="https://placeimg.com/192/192/people" />
                    </div>
                </div>
                <h2>Maurício, 26</h2>
            </div>
            <div class="flex justify-around my-4">
                <ng-container *ngFor="let item of [0,1,2]">
                    <div class="flex flex-col items-center">
                        <button class="btn btn-circle btn-primary w-48 my-2 shadow-xl">
                            <ion-icon slot="icon-only" name="add"></ion-icon>
                        </button>
                        <p class="text-center tracking-wide">Lorem Ipsum</p>
                    </div>
                </ng-container>
            </div> -->
            <!-- <div class="flex justify-center items-center flex-col h-full">
                <button class="btn btn-outline btn-primary w-72 my-4">Button</button>
                <button class="btn btn-primary mb-4 w-72">Button</button>
            </div> -->
        </div>
    </ion-content>
</ion-content>

<app-tab></app-tab>