<app-header></app-header>

<ion-content>
    <ng-container *ngIf="userClass.get()">
        <ion-list>
            <!-- <ng-container *ngFor="let each of userClass.get().Matchs">
               
            </ng-container> -->
            <div class="flex flex-col m-4">
                <app-search></app-search>

                <div class="matches">
                    <app-subtitle text="Meus Matches"></app-subtitle>
                    <div class="flex">
                        <div class="carousel carousel-center">
                            <ng-container *ngFor="let item of [0,1,2,3,4,5,6]">
                                <app-matchs></app-matchs>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="chats">
                    <app-subtitle text="Minhas Conversas"></app-subtitle>
                    <ng-container *ngFor="let item of [0,1,2,3,4,5]">
                        <app-chat-match></app-chat-match>
                    </ng-container>
                </div>
            </div>
        </ion-list>
    </ng-container>
</ion-content>

<app-tab></app-tab>