div {
    height: 100%;
}

.logo {
    height: 17vh;
    width: auto;
}

ion-slides {
    min-height: 60vh;
    ion-slide {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ion-item,
        ion-button,
        button {
            margin: 1.5vh;
        }
    }
}