<app-header [login]="true" [menu]="false"></app-header>

<ion-content class="swiper-no-swiping">
    <div class="container">
        <p class="ion-text-center ion-margin-top">
            <img src="../../../../assets/img/logo.png" alt="" class="ion-padding logo">
        </p>

        <ion-slides mode="ios" pager="ios" scrollbar="ios">
            <!--Login-->
            <ion-slide>
                <div class="ion-padding">
                    <ion-item class="ion-margin-top">
                        <ion-label position="floating">E-mail</ion-label>
                        <ion-input [(ngModel)]="userLogin.userEmail" type="email"></ion-input>
                    </ion-item>
                    <ion-item class="ion-margin-top">
                        <ion-label position="floating">Senha</ion-label>
                        <ion-input [(ngModel)]="userLogin.password" type="password"></ion-input>
                    </ion-item>
                    <button (click)="login()" class="btn btn-primary w-72">
                        <p>Login</p>
                    </button>
                    <button (click)="changeSlide('next')" class="btn btn-secondary w-72">
                        <p>Cadastrar</p>
                    </button>
                    <ion-button (click)="loginGuest()" expand="block" fill="clear">
                        <p>Entrar como Convidado</p>
                    </ion-button>
                    <ion-button (click)="goTo('forgot')" size="small" expand="block" fill="clear" shape="round">
                        <p>Esqueci minha senha</p>
                    </ion-button>
                </div>
            </ion-slide>
            <!--Cadastro-->
            <ion-slide>
                <div class="ion-padding">
                    <ion-item class="ion-margin-top">
                        <ion-label position="floating">Nome</ion-label>
                        <ion-input [(ngModel)]="userRegister.userName" type="email"></ion-input>
                    </ion-item>
                    <ion-item class="ion-margin-top">
                        <ion-label position="floating">E-mail</ion-label>
                        <ion-input [(ngModel)]="userRegister.userEmail" type="email"></ion-input>
                    </ion-item>
                    <ion-item class="ion-margin-top">
                        <ion-label position="floating">Senha</ion-label>
                        <ion-input [(ngModel)]="userRegister.password" type="password"></ion-input>
                    </ion-item>
                    <ion-item class="ion-margin-top">
                        <ion-label position="floating">Confirmar Senha</ion-label>
                        <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
                    </ion-item>
                    <button (click)="register()" class="btn btn-primary w-72">
                        <p>Cadastrar</p>
                    </button>
                    <button (click)="changeSlide('prev')" class="btn btn-secondary w-72">
                        <p>Voltar</p>
                    </button>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>